// Header with generic HMTL stuff
include _header.pug

// Libs
include _jq.pug
include _bs.pug

	link(type="text/css", rel="stylesheet", href="css/lightgallery-bundle.min.css")
	link(type="text/css", rel="stylesheet", href="static/style.css")
	title= meta.title

body
	#gallery
		.jumbotron.text-center
			.container
				h1.jumbotron-heading #{meta.title}
			p.lead.
				#{meta.description}
		#lightgallery.container.album
			- var i = 0;
			- var j = 0;
			- var max = photos.length;

			while i < max
				- j = 0;
				.row
					while i < max && j < 6
						.item.col(data-src=`${gallery_path}/${photos[i]}?key=${key}`, data-external-thumb-image=`${gallery_path}/thumbnails/${photos[i]}?key=${key}`)
							img.img-thumbnail(src=`${gallery_path}/thumbnails/${photos[i]}?key=${key}`)
						- i++; j++;

	// Lightgallery main
	script(src="js/lightgallery.min.js")

	// Additional Lightgallery plugins
	script(src="plugins/autoplay/lg-autoplay.min.js")
	script(src="plugins/pager/lg-pager.min.js")
	script(src="plugins/thumbnail/lg-thumbnail.min.js")
	script(src="plugins/zoom/lg-zoom.min.js")

	// Lightgallery configuration
	script(type="text/javascript").
		lightGallery(document.getElementById('lightgallery'), {
			selector: '.item',
			plugins: [lgZoom, lgPager, lgThumbnail, lgAutoplay],
			exThumbImage: 'data-external-thumb-image',
			thumbnail: true,
			preload: 1,
			speed: 500
		});
