// Header with generic HMTL stuff
include _header.pug

// Libs
include _jq.pug
include _bs.pug

link(type="text/css" rel="stylesheet" href="/videojs/video-js.min.css")
link(type="text/css" rel="stylesheet" href="/lightgallery/css/lightgallery-bundle.min.css")

title= meta.title

body
	#gallery
		.jumbotron.jumbotron-fluid.text-center
			.container.container-fluid
				h1.display-4 #{meta.title}
			p.lead #{meta.description}
			p.lead Klikkaa/Napauta jotakin kuvaa tai videota aloittaaksesi diaesityksen.
			p.lead Click/Tap a photo or video to start slideshow.

		#lightgallery.container.album
			include pager.pug

			- var i = 0;
			- var j = 0;
			- var max = media.length;

			- var width = meta.thumbWidth ?? 100;
			- var height = meta.thumbHeight ?? 100;

			while i < max
				- j = 0;

				.row
					while i < max && j < 6

						if media[i].type == 'video'
							- var path = `${gallery_path}/${media[i].name}?key=${key}`;
							- var data = {'source': [{'src': path, 'type': media[i].format }], 'attributes': {'preload': false, 'playsinline': false, 'controls': true}};
							.item.col(data-video=`${JSON.stringify(data)}`, data-external-thumb-image=`${gallery_path}/thumbnails/${media[i].name}.png?key=${key}`)
								img.img-thumbnail(src="/static/play_button.png", style=`background:url(${gallery_path}/thumbnails/${media[i].name}.png?key=${key}); background-size: cover;`, width=`${width}`, height=`${height}`)

						else if media[i].type == 'image'
							.item.col(data-src=`${gallery_path}/${media[i].name}?key=${key}`, data-external-thumb-image=`${gallery_path}/thumbnails/${media[i].name}?key=${key}`)
								img.img-thumbnail(src=`${gallery_path}/thumbnails/${media[i].name}?key=${key}`)

						else
							p.col INVALID MEDIA
						- i++; j++;

			br
			include pager.pug

	// Video.js
	script(src="/videojs/video.min.js")

	// Lightgallery main
	script(src="/lightgallery/lightgallery.min.js")

	// Additional Lightgallery plugins
	// NOTE: DONT USE PAGER PLUGIN - DISPLAYS BUTTONS BADLY!
	script(src="/lightgallery/plugins/autoplay/lg-autoplay.min.js")
	script(src="/lightgallery/plugins/thumbnail/lg-thumbnail.min.js")
	script(src="/lightgallery/plugins/zoom/lg-zoom.min.js")
	script(src="/lightgallery/plugins/video/lg-video.min.js")

	// Lightgallery configuration
	script(type="text/javascript").
		lightGallery(document.getElementById('lightgallery'), {
			selector: '.item',
			plugins: [lgZoom, lgThumbnail, lgAutoplay, lgVideo],
			exThumbImage: 'data-external-thumb-image',
			thumbnail: true,
			videojs: true,
			preload: 1,
			speed: 500
		});
