// Header with generic HMTL stuff
include _header.pug

// Libs
include _jq.pug
include _bs.pug

	link(type="text/css", rel="stylesheet", href="css/lightgallery-bundle.min.css")
	link(type="text/css", rel="stylesheet", href="static/style.css")
	title= meta.title

body
	#gallery
		section.jumbotron.text-center
			.container
				h1.jumbotron-heading #{meta.title}
			p.lead.
				#{meta.description}
		.container.album.py-5
			.row
				each file in photos
					div.item.col-md-3.border(data-src=`${gallery_path}/${file}?key=${key}`)
						img(src=`${gallery_path}/${file}?key=${key}`)

	// Lightgallery main
	script(src="js/lightgallery.min.js")

	// Additional plugins
	script(src="plugins/autoplay/lg-autoplay.min.js")
	script(src="plugins/thumbnail/lg-thumbnail.min.js")
	script(src="plugins/zoom/lg-zoom.min.js")

	// Lightgallery configuration
	script(type="text/javascript").
		lightGallery(document.getElementById('gallery'), {
			selector: '.item',
			plugins: [lgZoom, lgThumbnail, lgAutoplay],
			thumbnail: true,
			speed: 500,
			width: '100%'
		});
